<header class="header">
  <div class="header__bar">
    <h1>
      <%= link_to "転クエ掲示板", root_path %>
    </h1>
    <ul class="header__bar__user_nav">
      <% if user_signed_in? %>
        <li class="user_name">
          <span>ゲストユーザ さん</span>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "ログアウト", "#" %>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "投稿する", "#" %>
        </li>
      <% else %>
        <li class="header__bar__user_nav__btn">
          <%= link_to "ゲストログイン", "#" %> 
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "ログイン", "#" %> 
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "新規登録", "#" %> 
        </li>
      <% end %>
    </ul>
  </div>
</header>